@import "tailwindcss";
@import "tw-animate-css";

@source "../**/*.{ts,tsx}";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(96% 0 0);
  --foreground: oklch(20% 0 0);

  --secondary: oklch(98% 0 0);
  --secondary-foreground: oklch(25% 0 0);

  --muted: oklch(100% 0 0);
  --muted-foreground: oklch(40% 0 0);

  --border: oklch(80% 0 0);

  --box-shadow-2xs: 0 1px 1px #0002, 0 1px 2px #0001;
  --box-shadow-xs: 0 1px 1px #0002, 0 1px 3px #0001;
  --box-shadow-sm: 0 1px 2px #0002, 0 2px 4px #0001;
  --box-shadow-md: 0 2px 4px #0002, 0 4px 8px #0001;
  --box-shadow-lg: 0 4px 6px #0002, 0 6px 10px #0001;
  --box-shadow-xl: 0 5px 8px #0002, 0 8px 12px #0001;
  --box-shadow-2xl: 0 6px 10px #0002, 0 10px 16px #0001;
}

.dark {
  --background: oklch(16% 0 0);
  --foreground: oklch(90% 0 0);

  --secondary: oklch(20% 0 0);
  --secondary-foreground: oklch(80% 0 0);

  --muted: oklch(24% 0 0);
  --muted-foreground: oklch(75% 0 0);

  --border: oklch(40% 0 0);

  --box-shadow-2xs: 0 1px 1px #0002, 0 1px 2px #0001;
  --box-shadow-xs: 0 1px 1px #0002, 0 1px 3px #0001;
  --box-shadow-sm: 0 1px 2px #0002, 0 2px 4px #0001;
  --box-shadow-md: 0 2px 4px #0002, 0 4px 8px #0001;
  --box-shadow-lg: 0 4px 6px #0002, 0 6px 10px #0001;
  --box-shadow-xl: 0 5px 8px #0002, 0 8px 12px #0001;
  --box-shadow-2xl: 0 6px 10px #0002, 0 10px 16px #0001;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: oklch(0.5617 0.262 276.96);
  --color-primary-foreground: oklch(100% 0 0);

  --color-border: var(--border);

  --color-info: oklch(55% 0.16 240);
  --color-success: oklch(55% 0.15 145);
  --color-danger: oklch(50% 0.18 26);
  --color-warning: oklch(60% 0.18 75);

  --radius-sm: 0.2rem;
  --radius-md: 0.325rem;
  --radius-lg: 0.45rem;
  --radius-xl: 0.575rem;

  --wrapper-xs: 10rem;
  --wrapper-sm: 20rem;
  --wrapper-md: 30rem;
  --wrapper-lg: 40rem;
  --wrapper-xl: 50rem;

  --breakpoint-xs: 30rem;

  --shadow-2xs: var(--box-shadow-2xs);
  --shadow-xs: var(--box-shadow-xs);
  --shadow-sm: var(--box-shadow-sm);
  --shadow-md: var(--box-shadow-md);
  --shadow-lg: var(--box-shadow-lg);
  --shadow-xl: var(--box-shadow-xl);
  --shadow-2xl: var(--box-shadow-2xl);
}

@layer base {
  ::selection {
    @apply bg-primary/50;
  }

  html {
    @apply scroll-pt-24 scroll-smooth scrollbar-2;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
    @apply overflow-x-clip overflow-y-scroll;
  }

  h1,
  h2,
  h3 {
    @apply font-extrabold text-pretty;
  }

  h4,
  h5,
  h6 {
    @apply font-bold text-pretty;
  }

  h1 {
    @apply leading-[1.2] text-4xl;
  }

  h2 {
    @apply leading-[1.25] text-3xl;
  }

  h3 {
    @apply leading-[1.3] text-2xl;
  }

  h4 {
    @apply leading-[1.35] text-xl;
  }

  h5 {
    @apply leading-[1.4] text-lg;
  }

  h6 {
    @apply leading-[1.45] text-base;
  }

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p {
    @apply mt-1;
  }

  p {
    @apply text-pretty;
  }

  section p:has(+ p) {
    @apply mb-3;
  }

  section + section {
    @apply mt-6;
  }

  section ul {
    @apply list-disc ml-6 pt-1 pb-3;
  }

  a {
    @apply text-primary hover:text-primary/90;
    @apply underline-offset-3 hover:underline;
    @apply decoration-current hover:decoration-1;
    @apply focus-visible:outline-none focus-visible:ring-current;
    @apply focus-visible:ring-2 focus-visible:ring-offset-2;
    @apply transition-colors duration-150 ease-out;
    @apply rounded-[1px];
  }
}

/* Simple Utilities */

@utility h-view {
  height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);
}

@utility all-unset {
  all: unset;
}

@utility shine {
  @apply relative;

  &::before {
    content: "";

    @apply absolute top-0 left-[10%];
    @apply w-4 h-full z-10 pointer-events-none;
    @apply bg-white/10 -skew-4 rounded-none;
    @apply transition-all duration-300 ease-out;
  }

  &:hover::before {
    @apply left-[75%] w-6;
  }
}

@utility bevel {
  @apply relative overflow-hidden;

  &::after {
    content: "";

    @apply absolute inset-0;
    @apply size-full z-10 pointer-events-none;
    @apply bg-gradient-to-b opacity-25;
    @apply from-transparent to-white;
    @apply transition-opacity duration-300 ease-out;
  }

  &:hover::after {
    @apply opacity-30;
  }
}

@utility wrapper-* {
  @apply mx-auto w-[calc(100vw-1.8rem)] xs:w-[calc(100vw-3rem)] md:w-[calc(100vw-4rem)];
  max-width: --value(--wrapper- *, integer);
}

@utility scrollbar-* {
  &::-webkit-scrollbar {
    width: calc(--value(number) * var(--spacing));
    height: calc(--value(number) * var(--spacing));
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-border/75 rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-border/85;
  }
}

@utility bg-shiny-* {
  background-image: linear-gradient(
    to right,
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    color-mix(in oklch, --value(--color- *) 50%, white),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *),
    --value(--color- *)
  );
}

@keyframes rotate-angle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@utility border-gradient-* {
  @apply relative z-10 overflow-visible;

  @property --angle {
    initial-value: 0deg;
    syntax: "<angle>";
    inherits: false;
  }

  &::before,
  &::after {
    content: "";

    @apply absolute inset-1/2 -z-10;
    @apply pointer-events-none rounded-[inherit];
    @apply -translate-x-1/2 -translate-y-1/2;

    animation: rotate-angle 5s ease-in-out infinite;

    width: calc(100% + --value(integer) * 1px);
    height: calc(100% + --value(integer) * 1px);

    background-image: conic-gradient(
      from var(--angle),
      var(--color-primary),
      var(--color-sky-500),
      var(--color-primary)
    );
  }

  &::after {
    @apply blur-md;
  }
}

/* Animations */

@keyframes bg-position-x {
  0%,
  100% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 0% 100%;
  }
}

@keyframes bg-position-y {
  0%,
  100% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 100% 0%;
  }
}

@utility animate-bg-position-x {
  animation: bg-position-x var(--tw-animation-duration, 6s) linear infinite;
}

@utility animate-bg-position-y {
  animation: bg-position-y var(--tw-animation-duration, 6s) linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@utility animate-float {
  animation: float 4s ease-in-out infinite;
}
